ul {
  background-color: blue;
}

li {
  float: left;
}

li a {
  font-family: 'Times New Roman';
    color: white;
  text-align: center;
  padding: 16px;
}

li a:hover {
  background-color: skyblue;
}

.container {
  width: 100%;
  background-color: blue;
  overflow: auto;

}

.nav navbar-nav {
  width: 100%;
  background-color: blue;
  overflow: auto;
  position: fixed;
  top: 0;
}

